<body>
    <div class="Cart-Container">
    <div class="Header">
        <h3 class="Heading">Shopping Cart</h3>
        <h5 class="Action" (click)="emptycart()">Remove all</h5>
        </div>
   
    
    <table class="table table-responsive">
        <thead>
            <tr>
                
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Food Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Total</th>
                  
                
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of book ;let i=index">
            <td>{{i+1}}</td>
            <!-- <td>{{item.id}}</td> -->
            <td><img style="width: 120px;" src="{{item.images}}"></td>
            <td>{{item.name}}</td>
           
            <td>₹{{item.price}}</td>
            <td>{{item.qnt}}</td>
            <td>₹{{item.price * item.qnt}}</td>

            
            <td>
                <button id="delete" (click)="removeItem(item)" >Delete</button>
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td><button id="shop" routerLink="/usermenu">Shop More</button></td>
                <td><button id="check" mat-button="primary" (click)="openCheck()">Check Out</button></td>

        </tr>
        </tbody>
    </table>
    <!-- <div class="amount" *ngIf="cartItems.length"> Bill Amount: {{'\u20B9'}} {{totalAmount}}</div> -->
     <div>
         <h2>Total-₹{{grandTotal}}</h2>
     </div>

</div>
</body>  













 
